# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/huk_db?schema=public"

# Redis
REDIS_URL="redis://localhost:6379"

# App Ports
REST_PORT=3001
WEBSOCKET_PORT=3002
WEB_PORT=3000

# BullMQ
BULLMQ_REDIS_URL="redis://localhost:6379"

# Pub/Sub
PUBSUB_REDIS_URL="redis://localhost:6379"
